.img{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.768), rgba(0,0,0,0.5)),
        url('./Assets/banner-image.png');
        /* background-repeat: no-repeat;
        background-position: center center; */
   
}